/* 전체 컨테이너 */
body {
  font-family: "Pretendard", sans-serif;
  background: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
}

/* 메인 래퍼 */
.main-wrap {
  max-width: 1280px;
  margin: 40px auto;
  padding: 40px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
}

/* 입력 필드 그룹 */
.input-wrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 60%; /* 80% 크기로 제한 */
  margin: 0 auto; /* 중앙 정렬 */
}

/* 인풋 필드 스타일 */
.input-wrap input {
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  background: #f9f9f9;
  font-size: 14px;
  color: #333;
  transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  height: 40px; /* 높이 조정 */
}

.input-wrap input:focus {
  border-color: #000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  outline: none;
}

/* 에러 메시지 */
.error {
  color: #d32f2f;
  font-size: 14px;
}

/* 저장 버튼 */
#saveButton {
  padding: 12px 18px;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

#saveButton:disabled {
  background-color: #999;
  cursor: not-allowed;
}

#saveButton:hover:not(:disabled) {
  background-color: #333;
}

/* 다운로드 버ㄴ */
.download-btn {
  float: right;
  margin-bottom: 10px;
}

/* 카테고리 */
#category-list {
  display: flex;
  gap: 20px; /* 각 항목 사이 간격 */
  align-items: center;
}

.category-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ccc;
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-dot.selected {
  background-color: black; /* 선택된 항목의 배경색 */
}

.category-dot:hover {
  background-color: #f0f0f0;
}

/* 테이블 스타일 */
table {
  width: 100%; /* 테이블 너비를 더 넓게 설정 */
  margin-top: 30px;
  border-collapse: collapse;
  text-align: left;
}

table th,
table td {
  padding: 20px; /* 셀의 패딩을 늘려서 공간을 더 확보 */
  font-size: 18px;
  border-bottom: 1px solid #e0e0e0;
}

table th {
  font-weight: 600;
  color: #555;
}

table td {
  color: #333;
}

table img {
  width: 100px;
  height: 100px;
  border-radius: 4px;
}

/* 수정 & 삭제 버튼 */
button {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  opacity: 0.8;
}

button:focus {
  outline: none;
}

/* 수정 버튼 스타일 */
button.edit {
  background-color: #2d6cc4;
  color: white;
}

button.edit:hover {
  background-color: #1c4a7c;
}

/* 삭제 버튼 스타일 */
button.delete {
  background-color: #d32f2f;
  color: white;
  margin-left: 10px;
}

button.delete:hover {
  background-color: #b71c1c;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .main-wrap {
    padding: 20px;
  }

  .input-wrap {
    gap: 15px;
  }

  table th,
  table td {
    font-size: 14px;
    padding: 10px;
  }
}
